*{margin:0;padding:0;
    box-sizing:border-box;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bookMark{margin:20px auto;
    width:40%;
}
.bookMark h3{padding: 20px 0px;color:rgb(157, 149, 149);font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;border-bottom:1px solid rgb(220, 218, 218);

}
.choose{margin:10px 0px;padding:30px;background:rgb(248, 248, 248);border-radius: 8px;
    box-shadow: 3px 4px 9px rgb(162, 158, 158);
}
.bege{width:100%;margin:10px 0px;height:30px;padding:9px;
}
.choose h2{text-align: center;margin:9px 0;
}
.siteName h4{font-weight:400;
}
.siteUrl h4{
 font-weight:400;
}
.choose [name="submit"]{width:20%;height:40px;margin:10px auto;align-self:center;color:white;font-size: 1em;
    box-shadow: none;border:none;border-radius: 3px;background:green;
}
.choose [name="submit"]:hover{
    background:rgb(74, 204, 74);
}
.bookmarkResult{margin:20px auto;
    width:40%;
}
.learn{ 
    display:flex;
     background: rgb(248, 248, 248);
    box-shadow:3px 3px 7px rgb(209, 205, 205);
    border-radius: 9px;padding:30px;justify-content: space-between; 
    align-items: center;margin:15px 0px;
}

.learn-btn{margin:0px 3px;padding:10px;background:rgb(67, 165, 230);border-radius:3px;color:white;text-decoration: none;
}
.learn-delete{margin:0px 3px ;padding:10px;background:rgb(223, 41, 41);border-radius:3px;color:white;text-decoration: none;  
}
span{
    color:orangered;font-size:14px;background:rgb(243, 215, 215);padding:9px;position:relative; bottom:2px; left:75%;display:none;
}